.marriage-container-sm {
    padding: 20px 50px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .title-sm {
    font-size: 35px;
    font-weight: 800;
    color: #573901;
    font-family: Montserrat;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  .marriage-actions-sm {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
  }
  
  .search-bar-sm {
    position: relative;
    width: 650px;
  }
  
  .search-bar-sm input {
    width: 100%;
    padding: 8px 35px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .search-icon-sm {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #b3701f;
  }
  
  .filter-container-sm {
    display: flex;
    gap: 10px;
  }
  
  .filter-select-sm {
    background: white;
    color: #333;
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
    font-family: Roboto;
    letter-spacing: 1px;
    width: 200px;
  }
  
  .marriage-table-sm {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1px;
  }
  
  .marriage-table-sm thead tr {
    background: #e1f3f6;
    font-family: Roboto;
    font-size: 14px;
  }
  
  .marriage-table-sm thead tr th:first-child {
    border-top-left-radius: 10px;
  }
  
  .marriage-table-sm thead tr th:last-child {
    border-top-right-radius: 10px;
  }
  
  .marriage-table-sm th,
  .marriage-table-sm td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .marriage-table-sm th {
    background: #fdf8e8;
    color: #333;
    font-family: Roboto;
    font-weight: 900;
    font-size: 15px;
    border: none;
  }
  
  .marriage-table-sm td {
    background: #fff;
    color: #333;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #ececec;
  }
  
  .marriage-table-sm td:last-child {
    text-align: center;
    color: #b3701f;
  }
  
  .sm-details {
    font-family: Roboto;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: #b3701f;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    background-color: white;
    color: #b3701f;
    border: none;
    cursor: pointer;
  }
  
  .sm-details:hover {
    border: 1px solid #b3701f;
    background-color: #e7e7e7;
    color: #b3701f;
  }
  