.funeralmass-container-sfm {
    padding: 20px 50px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .title-sfm {
    font-size: 35px;
    font-weight: 800;
    color: #4a2e00;
    font-family: Montserrat;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  .funeralmass-actions-sfm {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
  }
  
  .search-bar-sfm {
    position: relative;
    width: 650px;
  }
  
  .search-bar-sfm input {
    width: 100%;
    padding: 8px 35px 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  
  .search-icon-sfm {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e5200;
  }
  
  .filter-container-sfm {
    display: flex;
    gap: 10px;
  }
  
  .filter-select-sfm {
    background: white;
    color: #333;
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
    font-family: Roboto;
    letter-spacing: 1px;
    width: 200px;
  }
  
  .funeralmass-table-sfm {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1px;
  }
  
  .funeralmass-table-sfm thead tr {
    background: #fff6ed;
    font-family: Roboto;
    font-size: 14px;
  }
  
  .funeralmass-table-sfm th,
  .funeralmass-table-sfm td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .funeralmass-table-sfm th {
    background: #fcf2e6;
    color: #333;
    font-family: Roboto;
    font-weight: 900;
    font-size: 15px;
    border: none;
  }
  
  .funeralmass-table-sfm td {
    background: #fff;
    color: #333;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #ececec;
  }
  
  .funeralmass-table-sfm td:last-child {
    text-align: center;
    color: #8e5200;
  }
  
  .sfm-details {
    font-family: Roboto;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: #8e5200;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    background-color: white;
    color: #8e5200;
    border: none;
    cursor: pointer;
  }
  
  .sfm-details:hover {
    border: 1px solid #8e5200;
    background-color: #e7e7e7;
    color: #8e5200;
  }
  